<% content_for :page_title, 'Password Reminder' %>
<!-- Start Content Section ==================================================-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="inner_form">
            <% if flash[:error] %>
              <div id="errorExplanation" class="errorExplanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
          Please enter your email or username and we will re-send your password to the email account on file:
            <div class="login-form">
              <%= form_tag password_reminder_sessions_path, :method => :get, :id => "password_reminder_form" do %>
                <%= text_field_tag :username, nil,:class=>'form-control'  -%>

                <div>
                  <%= submit_tag "Recover Password", :class=>'btn btn-primary'%>
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>