<% content_for :page_title, 'About Corporate Gray' %>
<!-- Start Content Section ==================================================-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="content_inner_left">
          <h1>About Corporate Gray</h1>
          <h3>Founded by Carl Savino in 1994, Corporate Gray helps transitioning military personnel connect with employers in print, in person, and online, as follows:</h3>
          <p>The Corporate Gray Military-to-Civilian Transition Guide leads the transitioning service member through each step of the military-to-civilian career transition process, from self-assessment to resume writing to networking to salary negotiation. Since 1997 Corporate Gray has provided copies of the guide to more than 4 million service members leaving active duty.</p>
          <p>The Corporate Gray Job Fairs for the Military Community bring job seekers face-to-face with a large number of "military friendly" employers in a well-organized and professional environment. Over 140 Corporate Gray Military Job Fairs have been held in various locations nationwide.</p>
          <p>The online Virtual Military Job Fairs connect employers with military veterans nationwide in the form of one-on-one electronic text chats, providing the opportunity to determine whether there is a potential fit between the candidate's background and the employer's needs. The virtual events are co-sponsored by Corporate Gray and MOAA.</p>
          <p>Corporate Gray Online is a military-niche employment website connecting transitioning and former military with employers. Job seekers can post their resume, search and apply for jobs, learn about upcoming job fairs, and gain access to important information for their job search. Employers can post their jobs and use a customized resume search function to find military-experienced candidates meeting their needs.</p>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- End Content Section ==================================================-->