<% content_for :page_title, 'Privacy Policy' %>
<!-- Start Content Section ==================================================-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="content_inner_left">
          <h1>Privacy Policy</h1>
          <p>The information you provide is used by companies to assess whether your background is a potential fit for their needs. When you upload your resume, you have the option of making your resume and contact information confidential or private.</p>
          <p>If you have any concerns, please call (703) 690-6381.</p>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- End Content Section ==================================================-->