<!-- Start Footer Section ==================================================-->
<footer>
  <!-- Footer Bottom Sec -->
  <div class="footer_bottom_sec">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="footer-menu">
            <ul>
              <li><%= link_to 'Full Site','http://corporategray.com' %></li>
              <li><%= link_to_unless_current 'Privacy', '/static/privacy_policy'  %></li>
              <li><%= link_to_unless_current 'About Corporate Gray', '/static/about_us' %></li>
            </ul>
          </div>
          <a href="#" class="copy-right">@2013 Corporate Gray Online</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Bottom Sec -->
</footer>
<!-- End Footer Section ==================================================-->