<div class="top_title blue_bg">
  <% if params[:controller]!='welcome' %>
      <%= link_to "Back", :back, :class=>'back' %>
  <% end %>
  <% if params[:controller]=='welcome'%>
    Connecting employers with military veterans nationwide!
  <% else %>
      Corporate Gray
      <% if logged_in? %>
        <%=link_to "Logout", logout_path, :method => :delete,:class=>'login'  %>
      <% else %>
        <%= link_to 'Login', login_path, :class=>'login' %>
      <% end %>
  <% end %>
</div>